  <div class='form-group'>
    <label>group name</label>
    <input type='text' name='name'>
  </div>
  <div class='form-group'>
    <label>description</label>
    <input type='text' name='description'>
  </div>
  <div class='form-group'>
    <label>ep</label>
    <input type='text' name='ep'>
  </div>
  <div class='form-group'>
    <label>gp</label>
    <input type='text' name='gp'>
  </div>

