  <div class='form-group'>
    <label>group name</label>
    <input type='text' name='name'>
  </div>
  <div class='form-group'>
    <label>description</label>
    <input type='text' name='description'>
  </div>