<!DOCTYPE html>
<html>
  <head>
    <title>Express4/Mongoose/passport-local Example</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express4/Mongoose/passport-local Example</h1>
    <p>Example app</p>
    <a href='login'>login</a>
    <a href='signup'>signup</a>
  </body>
</html>
